#fondo{
    width: 100%;
    height: 100%;
    background-image: url("../imagenes/tigre.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
